* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reports .reports_docs{
  margin: 15px;
}

.col-xs-1{
  flex: 0 0 8.33%;
}
.col-xs-2{
  flex: 0 0 16.66%;
}
.col-xs-3{
  flex: 0 0 25%;
}
.col-xs-4{
  flex: 0 0 33.33%;
}
.col-xs-5{
  flex: 0 0 41.66%;
}
.col-xs-6{
  flex: 0 0 50%;
}
.col-xs-7{
  flex: 0 0 58.33%;
}
.col-xs-8{
  flex: 0 0 66.66%;
}
.col-xs-9{
  flex: 0 0 75%;
}
.col-xs-10{
  flex: 0 0 83.33%;
}
.col-xs-11{
  flex: 0 0 91.66%;
}
.col-xs-12{
  flex: 0 0 100%;
}

/* flexbox cols for small screens */
@media only screen and (min-width: 568px) {
  .col-sm-1{
    flex: 0 0 8.33%;
  }
  .col-sm-2{
    flex: 0 0 16.66%;
  }
  .col-sm-3{
    flex: 0 0 25%;
  }
  .col-sm-4{
    flex: 0 0 33.33%;
  }
  .col-sm-5{
    flex: 0 0 41.66%;
  }
  .col-sm-6{
    flex: 0 0 50%;
  }
  .col-sm-7{
    flex: 0 0 58.33%;
  }
  .col-sm-8{
    flex: 0 0 66.66%;
  }
  .col-sm-9{
    flex: 0 0 75%;
  }
  .col-sm-10{
    flex: 0 0 83.33%;
  }
  .col-sm-11{
    flex: 0 0 91.66%;
  }
  .col-sm-12{
    flex: 0 0 100%;
  }
}

/* flexbox cols for desktop */
@media only screen and (min-width: 768px) {
  .col-1{
    flex: 0 0 8.33%;
  }
  .col-2{
    flex: 0 0 16.66%;
  }
  .col-3{
    flex: 0 0 25%;
  }
  .col-4{
    flex: 0 0 33.33%;
  }
  .col-5{
    flex: 0 0 41.66%;
  }
  .col-6{
    flex: 0 0 50%;
  }
  .col-7{
    flex: 0 0 58.33%;
  }
  .col-8{
    flex: 0 0 66.66%;
  }
  .col-9{
    flex: 0 0 75%;
  }
  .col-10{
    flex: 0 0 83.33%;
  }
  .col-11{
    flex: 0 0 91.66%;
  }
  .col-12{
    flex: 0 0 100%;
  }
}